<div>
  <h1>Notes</h1>
  <div class="delete_all">
    <input type="submit" value="Delete all" ng-click="deleteAllNotes()" />
  </div>
  <note-form></note-form>
  <note ng-repeat="note in notes"></note>
</div>
