<div class="new_note_form">
  <h2>New note</h2>
  <p><input ng-model="newNote.title" /></p>
  <p><textarea ng-model="newNote.body"></textarea></p>
  <p><input type="submit" ng-click="createNote(newNote)" /></p>
</div>
