<div class="note">
  <h3>{{note.title}}</h3>
  <p class="date" ng-if="note.createdDate">Created: {{note.createdDate | date:'medium'}}</p>
  <p class="body">{{note.body}}</p>
  <input type="submit" value="Delete" ng-click="deleteNote(note)">
</div>
