.new_note_form {
  margin: 10px;
  padding: 5px;
  background-color: lightgrey;
  color: navy;
  border-color: black;
  border: 1px solid;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

h1, .delete_all {
  text-align: center;
}

.new_note_form h2 {
  margin-top: 0px;
}

.note {
  float: left;
  margin: 10px;
  padding: 5px;
  background-color: lightgrey;
  color: navy;
  border-color: black;
  border: 1px solid;
  width: 200px;
}

.note .date {
  font-size: small;
}

.note .body {
  padding: 3px;
  background-color: grey;
  color: white;
}

.note h3 {
  margin-top: 0px;
}
